body {
    margin: 0;
    padding: 0;
    font-family: Sen, Sans-serif;
}

.container {
    background-color: #151515;
    font-family: Roboto;
    margin-left: 50px;
    height: 100%;
}


.content-container {
    position: relative;
    height: 410px;
    background-color: tomato;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515), url('../Images/Front image.jpg');
}
.context-container
{
    position: relative;
    height: 410px;
    background-color: tomato;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515), url('../Images/f-2.jpg');
    margin-left: 20px;
    margin-right: 20px;

}

.featured-context
{
    position: absolute;
    width: 35%;
    padding: 50px;
}

.django-image {
    width: 200px;
    
}


.featured-disc {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    color: rgb(201, 200, 197);
    font-size: 16px;
}

.watch-button {
    font-family: arial;
    background-color: black;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
}
.movielistcontainer
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
.movielisttitle {
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}
.cards
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
    align-items: center;
    position: relative;
}
.cards i{
    position: absolute;
    right: 10px;
    z-index: 1000;
    color: white;
    font-size: 100px;
    top: 104px;
    opacity: 0.5;
}
.movie
{
    width: 270px;
    height: 200px;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
    position: relative;
}
.movie:hover .img
{
    transform: scale(1.1);
}

.movie:hover .movieTitle,
.movie:hover .movieDesc,
.movie:hover .miniWatch {
    opacity: 1;
}

.img
{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: inherit;
}

.movieTitle {
    background-color: #333;
    font-size: 32px;
    padding: 0 10px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s ease;
    border-radius: 10px;
}
.movieDesc {
    background-color: #333;
    font-size: 14px;
    padding:10px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 200px;
    opacity: 0;
    transition: 1s ease;
    border-radius: 10px;
}
.miniWatch {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: #151515;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50px;
    font-weight: bold;
    opacity: 0;
    transition: 1s ease;
}